body {
<<<<<<< HEAD
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
  font: normal 14px/1.5 Tahoma, 'Lucida Grande', Verdana, 'Microsoft Yahei', STXihei, hei;
  color: #000;
  /* background: #f2f2f2; */
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}
* {
  padding: 0;
  margin: 0;
  /* visibility: hidden; */
}
li {
  list-style: none;
}
.van-list__finished-text {
  width: 100%;
  color: #969799;
  font-size: 13px;
  line-height: 50px;
  text-align: center;
}
.van-swipe__indicators {
  position: absolute;
  bottom: 60px;
  left: 50%;

  display: flex;

  transform: translateX(-50%);
}

 
  
=======
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    /* background: #f2f2f2; */
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}
* {
    padding: 0;
    margin: 0;
    /* visibility: hidden; */
}
li{
    list-style: none;
}
.van-grid-item__content {
    padding:5px;
  }
>>>>>>> develop
