html,
body,
#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1200px;
}
.w {
    width: 1200px;
    margin: 0 auto;
}
li {
    list-style: none;
    padding: 5px 8px;
    text-decoration: none;
    color: #000;
}